<!-- MUESTRA O NO EL BOTON -->
<div  class="botonesModal" *ngIf="mostrarModal">


  <!-- BOTON PARA INSTRUCTIVO -->
  <button type="button" class="btn btn-primary btnInicio" data-bs-toggle="modal" data-bs-target="#instructivo">
    INSTRUCCIONES
  </button>
  
  <!-- BOTON PARA CONFIGURAR PARTIDA -->
  <button type="button" class="btn btn-primary btnInicio" data-bs-toggle="modal" data-bs-target="#partida">
      CONFIGURAR PARTIDA
  </button>  
  
  

</div>


  
  <!-- CONFIGURAR PARTIDA -->
<form [formGroup]="formulario" (ngSubmit)="enviarFormulario()"> 

  <div class="modal fade" id="partida" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="partida" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">

        <div class="modal-body">
            

                <div class="mb-3">
                    <label for="cantidadIntentos" class="form-label">INTENTOS</label>                    
                    
                    <div class="itemsCentrados">
                      <select class="form-select" aria-label="Default select example" formControlName="cantidadIntentos" id="cantidadIntentos">
                          <option value="3">3</option>
                          <option value="5">5</option>
                          <option value="10">10</option>                        
                      </select>
                    </div>
                
                </div>
                
                
                <div class="mb-3">
                    <label for="puntosPorJugar" class="form-label">PUNTOS</label>

                  <div class="itemsCentrados">
                      <select class="form-select" aria-label="Default select example" formControlName="puntosPorJugar" id="puntosPorJugar">
                        <option value="100">100</option>
                        <option value="300">300</option>
                        <option value="500">500</option>                        
                      </select>
                  </div>

                </div>

                <label class="form-label">DIFICULTAD</label>
                
                <div class="progress itemsCentrados" role="progressbar" aria-label="Basic example" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">
                  <div class="progress-bar" [style.width.%]="nivelDificultad * 20"></div>
                </div>
                
                
                
            
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary btnEnvio" data-bs-dismiss="modal" (click)="resetFormulario()">CERRAR</button>
          <button type="submit" class="btn btn-primary btnEnvio" [disabled]="formulario.invalid" data-bs-dismiss="modal">COMENZAR</button>
        </div>
      </div>
    </div>
  </div>
</form>  





<!-- INSTRUCTIVO -->
<div class="modal fade" id="instructivo" tabindex="-1" aria-labelledby="instructivo" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">INSTRUCCIONES</h1>
        <button type="button" class="btn-close btn btn-secondary btnEnvio" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary btnEnvio" data-bs-dismiss="modal">CERRAR</button>
      </div>
    </div>
  </div>
</div>
