<div class="modulo-apuesta">
    
    <div class="selector-opciones">
        
        <!-- PAR/IMPAR -->

        <div class="parImpar caja-apuesta" [ngClass]="{'reverso': voltearPar}" >
            
            <div class="primera-cara">
                <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" role="switch" id="parImpar" (click)="mostrarReversoPar()" [(ngModel)]="valorSwitchPar">                
                </div> 
                
                <label class="form-check-label" for="parImpar">PAR / IMPAR</label>
            </div>

            <!-- OPCIONES DE APUESTA PARA PAR/IMPAR -->
            <div class="segunda-cara">

                <select class="form-select" aria-label="Default select example" [(ngModel)]="valuePar">
                    <option value="P">PAR</option>
                    <option value="I">IMPAR</option>
                </select>

                <div class="botones-apuesta">
                    <button type="button" class="btn btn-outline-secondary btn-apuesta" (click)="resetearEstadoPar()"><i class="bi bi-x-lg"></i></button>
                </div>

            </div>
            
        </div>





        <!-- RANGO -->
        <div class="rango caja-apuesta" [ngClass]="{'reverso': voltearRango}" >
            
            <div class="primera-cara">
                <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" role="switch" id="rango" (click)="mostrarReversoRango()" [(ngModel)]="valorSwitchRango">                
                </div> 
                
                <label class="form-check-label" for="rango">RANGO DE VALORES</label>
            </div>

            <!-- OPCIONES DE APUESTA PARA RANGO -->
            <div class="segunda-cara">

                <select class="form-select" aria-label="Default select example" [(ngModel)]="valueRango">
                    <option value="CINCO">+5</option>
                    <option value="DIEZ">+10</option>
                    <option value="QUINCE">+15</option>
                    <option value="VEINTE">+20</option>
                </select>

                <div class="botones-apuesta">
                    <button type="button" class="btn btn-outline-secondary btn-apuesta" (click)="resetearEstadoRango()"><i class="bi bi-x-lg"></i></button>
                </div>

            </div>
            
        </div>




        <!-- NUMERO EXACTO -->
        <div class="numeroExacto caja-apuesta" [ngClass]="{'reverso': voltearExacto}" >
            
            <div class="primera-cara">
                <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" role="switch" id="exacto" (click)="mostrarReversoExacto()" [(ngModel)]="valorSwitchExacto">                
                </div> 
                
                <label class="form-check-label" for="exacto">VALOR EXACTO</label>
            </div>

            <!-- OPCIONES DE APUESTA PARA EXACTO -->
            <div class="segunda-cara">

                <input type="number" class="form-control exactoInput" placeholder="VALOR EXACTO" aria-label="Username" aria-describedby="addon-wrapping" [(ngModel)]="valueExacto">
                                 

                <div class="botones-apuesta">
                    <button type="button" class="btn btn-outline-secondary btn-apuesta" (click)="resetearEstadoExacto()"><i class="bi bi-x-lg"></i></button>
                </div>

            </div>
            
        </div>





        <!-- COLOR -->
        <div class="color caja-apuesta" [ngClass]="{'reverso': voltearColor}" >
            
            <div class="primera-cara">
                <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" role="switch" id="color" (click)="mostrarReversoColor()" [(ngModel)]="valorSwitchColor">                
                </div> 
                
                <label class="form-check-label" for="color">COLOR</label>
            </div>

            <!-- OPCIONES DE APUESTA PARA COLOR -->
            <div class="segunda-cara">

                <select class="form-select" aria-label="Default select example" [(ngModel)]="valueColor">
                    <option value="RO">ROJO</option>
                    <option value="AZ">AZUL</option>
                    <option value="VE">VERDE</option>
                    <option value="AM">AMARILLO</option>
                    <option value="NA">NARANJA</option>
                    <option value="BL">BLANCO</option>
                </select>

                <div class="botones-apuesta">
                    <button type="button" class="btn btn-outline-secondary btn-apuesta" (click)="resetearEstadoColor()"><i class="bi bi-x-lg"></i></button>
                </div>

            </div>
            
        </div>



        
        <!-- GIRAR CARTAS -->
        <div class="girarCartas caja-apuesta" [ngClass]="{'reverso': voltearGirar}" >
            
            <div class="primera-cara">
                <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" role="switch" id="girarCartas" (click)="mostrarReversoGirar()" [(ngModel)]="valorSwitchGirar">                
                </div> 
                
                <label class="form-check-label" for="girarCartas">GIRAR CARTAS</label>
            </div>

            <!-- OPCIONES DE APUESTA PARA GIRAR -->
            <div class="segunda-cara">

                <select class="form-select" aria-label="Default select example" [(ngModel)]="valueGirar">
                    <option selected value="G">GIRAR CARTAS</option>
                </select>
                

                <div class="botones-apuesta">
                    <button type="button" class="btn btn-outline-secondary btn-apuesta" (click)="resetearEstadoGirar()"><i class="bi bi-x-lg"></i></button>
                </div>

            </div>
            
        </div>

          
          
          
          
          
        
        
        

    </div>

    
    
    <!-- BOTONES DE ENVIO -->
    <div class="botones-envio">
        <button type="button" class="btn btn-success btn-sm btn-envio" (click)="hacerApuesta()">JUGAR</button>
    </div> 

</div>
