.contenedor-resultados div{
    margin-bottom: .5em;
    user-select: none;
    font-family: 'Libre Baskerville', serif;
}

.titulos{
    text-align: center;
    color: var(--textW);
    margin: .5em 0em;
    user-select: none;
    font-family: 'Poppins', sans-serif;
    font-size: small;
    
}

/* APUESTA */
.apuesta{
    display: flex;
    gap:.7em;
    justify-content: center;
    width: 100%;
    padding: 1em;
    user-select: none;
}

.apuesta div{
    background-color: var(--textW);
}

.apuesta div.acertado{
    background-color: var(--tarjetas);
}

.item{
    width: 2em;
    height: 2em;
    background-color: var(--textW);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--textW);
    user-select: none;
}


/* SECCION DE PUNTOS TOTALES */
.puntos-totales{
    display: flex;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    user-select: none;
}

.pts{
    font-size: 1em;
    margin-right: 1em;
    user-select: none;
}

.valor{
    font-size: 5em;
    user-select: none;
}

.total{
    font-size: 2em;
    color:var(--tarjetas);
    user-select: none;
}

.extras{
    color:var(--tarjetas);
    margin-left: 1em;
    animation: aparecer .5s ease-in-out;
    z-index: 300;
}


@keyframes aparecer{
    0%{transform: translateX(-.5em); opacity: 0%; }
    100%{transform: translateX(0em); opacity: 100%;}
}


/* CONTADOR DE RONDAS */
.vidas{
    display: flex;
    gap:.3em;
    justify-content: center;
    width: 100%;
    padding: 1em;
    user-select: none;
}

.itemVidas{
    width: 2em;
    height: 2em;
    background-color: var(--textW);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--textW);
    user-select: none;
}

.intentosGastados{
    background-color: var(--tarjetas);
}

.bi-heart-fill{
    font-size: 1em;
}

/* BOTONERA DE CONTROL */
.restart{    
    padding: 1em;
    border-radius: 2em;
    display: flex;
    align-items: center;
    justify-content: center;
    gap:.7em;
    user-select: none;   
}


.btn{
    font-family: 'Poppins', sans-serif;
    font-size: small;
}