.contenedor-resultados div{
    margin-bottom: .5em;
    user-select: none;
    font-family: 'Libre Baskerville', serif;
}

.titulos{
    text-align: center;
    color: var(--textW);
    margin: .5em 0em;
    user-select: none;
    font-family: 'Poppins', sans-serif;
    font-size: small;
    
}

/* APUESTA */
.apuesta{
    display: flex;
    gap:.7em;
    justify-content: center;
    width: 100%;
    padding: 1em;
    user-select: none;
}

.apuesta div:nth-child(even){
    background-color: var(--tarjetas);
}


/* SECCION DE PUNTOS TOTALES */
.puntos-totales{
    display: flex;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    user-select: none;
}

.pts{
    font-size: 1em;
    margin-right: 1em;
    user-select: none;
}

.valor{
    font-size: 5em;
    user-select: none;
}

.total{
    font-size: 2em;
    color:var(--tarjetas);
    user-select: none;
}


/* CONTADOR DE RONDAS */
.vidas{
    display: flex;
    gap:.7em;
    justify-content: center;
    width: 100%;
    padding: 1em;
    user-select: none;
}

.live1,.live2,.live3{
    width: 2em;
    height: 2em;
    background-color: var(--textW);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--textW);
    user-select: none;
}

.vidas div:nth-child(1){
    background-color: var(--tarjetas);
}

/* BOTONERA DE CONTROL */
.restart{    
    padding: 1em;
    border-radius: 2em;
    display: flex;
    align-items: center;
    justify-content: center;
    gap:.7em;
    user-select: none;   
}


.btn{
    font-family: 'Poppins', sans-serif;
    font-size: small;
}