/* PANTALLA MODAL */
app-modal{
    background-color:steelblue;
    display: flex;
    align-items: center; 
    justify-content: center; 
    height: 100vh; 
    animation: mostrar .8s ease-in-out;   
}


@keyframes mostrar{
    0%{opacity: 0%;}
    100%{opacity: 100%;}
}



/* CONTAINER DE TODOS LOS ELEMENTOS */
.contenedor{
    display: flex;
    box-sizing: border-box;
}


/* ORGANIZADOR DE JUEGO */
.game{
    box-sizing: border-box;
    width: 70%;
    background-color:var(--game);
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center; 
    padding: 3em;
    box-sizing: border-box;
}


/* ORGANIZADOR DE RESULTADO */
.result{
    box-sizing: border-box;
    width: 30%;
    background-color: var(--result);
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    padding: 3em;
    box-sizing: border-box;
    color:var(--textW); 
      
}

app-apuestas{
width: 100%;
}


/* PANTALLA DE VICTORIA */
app-pantalla-victoria{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000; /* Asegura que el contenido esté en la parte superior */
  }