<app-modal *ngIf="!rondaSeteada;" class="configuraciones"></app-modal>

<div class="contenedor" *ngIf="rondaSeteada && !mostrarVictoria; else pantallaVictoria">
  
  
  <div class="game">
    <app-cartas></app-cartas>
    <app-apuestas></app-apuestas>
  </div>

  <div class="result">
    <app-resultados></app-resultados>
  </div>


</div>

<ng-template #pantallaVictoria>
  <!-- EN CASO DE QUE "mostrarVictoria" SEA TRUE, SE RENDERIZA ESTA PANTALLA -->
  <app-pantalla-victoria></app-pantalla-victoria>
  
</ng-template>


<router-outlet></router-outlet>
