<div *ngIf="ultimaRonda">

    <div class="cards">

        <!-- CARTA 1 -->
        <div class="flip-cards" *ngFor="let car of ultimaRonda.cartas; let z = index;">
            
            <div class="front-cards">

        
                <img src="../../../assets/svg/chicoCarta.svg" alt="">
                
               
                <div class="valores">
                    <div class="dijeCarta" [ngStyle]="{'background-color': ultimaRonda.colores[z]}"></div>
                    <h3 class="number">0{{car}}</h3>
                    <div class="dijeCarta" [ngStyle]="{'background-color': ultimaRonda.colores[z]}"></div>
                </div>
                
                <h6 class="firma">AMINO</h6>
            </div>
            
            <!-- <div class="back-cards">
    
                <h3>40</h3>
    
            </div> -->
    
        </div>
    
        
    
    
    </div>
    

</div>
